{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scrolling Nav - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">NEDLAW ANALYTICS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Nedlaw Analytics</h1>
        <p class="lead">Bringing Meta into visible view</p>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Our goal is to ... </h2>
            <p class="lead">Reduce the distance of hidden information and people working for corporation. 
            				By producing Low-resolution landscape-views to describe corporations as an entity.
							</p>
			
			<p class="lead">With the purpose to provide single page visuals for public and private use.
							These including links to foreign domains, people, and taxonomy.
							Our tools include:
							 </p>
							
            <ul>
              <li>Use of external nodes of information found in Linked-In and Wikipedia.</li>
              <li>Google Cloud as a secure and reliable distribution platform.</li>
              <li>Relationship driven model based on Ontology.</li>
              <li>Capability to provide results in the form of a reusable webpage.</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="services" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Services we offer</h2>
            <p class="lead">Improving user experience. The company has a view that the website that they are running no longer reflects its vision. Solution:
    		<ul>
              <li>Providing a graphical view of the website as a skeleton; and </li>
    		  <li>enabling visitors to fast determine the relevance of the site.</li>
			</ul>
			</p>
			<p class="lead">Maintain external relations. The desire to know the connections of other which they have already shared. Solution:
    		<ul>
              <li>Have the capability to maintain information about external entities linked from any root; </li>
    		  <li>In a state-dependent manner; and</li>
			  <li>In a graph-form.</li>
			</ul>
			</p>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact us</h2>
            <p class="lead">Markus Walden</p>
            <ul>
              <li>web@nedlaw.eu</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{% static 'js/scrolling-nav.js' %}"></script>

  </body>

</html>
